
@page { 
    size: 80mm auto;
    margin: 0mm;
} /* output size */
.receipt .sheet {
    width: 80mm; 
    height: auto; 
    font-family: Courier; 
    font-size: 14px; 
} /* sheet size */
/*.sheet { text-align: justify; text-justify: inter-word;  }*/
@media print { 
    .receipt { width: 80mm } 

    .noPrint, .no-print *
    {
        display: none !important;
    }
}

.rightalign {
    text-align: right;
}

.centeralign {
    text-align: center;
}

/* icons issue */
